@charset "UTF-8";
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

/* ここからハンバーガーメニュー */

    
 /* チェックボックスを非表示にする */
.drawer_hidden {
display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
display: flex;
height: 60px;
width: 60px;
justify-content: center;
align-items: center;
position: fixed;
top: 28px;
left:95%;
z-index: 100;/* 重なり順を一番上にする */
cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
content: '';
display: block;
height: 3px;
width: 25px;
border-radius: 3px;
background: #000;
transition: 0.5s;
position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
bottom: 0;
transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
top: 0;
transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 100%; /* メニューを画面の外に飛ばす */
z-index: 99;
background-color: #fff;
transition: .5s;
}

.nav_list {
list-style: none;
margin-top: 114px;
margin-left: 80px;
}
.nav_item {
    font-size: 30px;
    font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 145px;
}

.menu-fonts{
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
left: 50%;/* メニューを画面に入れる */
}



/* listの下線アニメーション */


li.current a,
li a:hover{
  color:#000;
}
li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 10;
    left: 80px;
    /*線の形状*/
    width: 100%;
    height: 6px;
    border-radius:3px;
    background:#000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*上部中央基点*/
}
li.current a::after,
li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
/* ここまでハンバーガーメニュー */

/* ここからheader */
#header {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }
#header-logo {
    width: 150px;
    height: 115px;
    position: fixed;
    top: 0;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    padding: 40px 15px;
}
/* ここまでheader */

/* ここからメイン */



.scrolldown2{
	position: fixed;
	bottom:100px;
	left:100px;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:-11px;
	bottom:100px;
    /*テキストの形状*/
	color: #000;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
	font-size: 1.3rem;
	letter-spacing: 0.06em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:12px;
	height:12px;
	border-radius: 50%;
	background:#000;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
	animation:
		circlemove 1.6s ease-in-out infinite,
		cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:45px;}
     100%{bottom:-5px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	left:0;
    /*線の形状*/
	width:4px;
	height: 70px;
	background:#000;
    border-radius: 2px;
}

.container{
    
    width: 100vw;
    height: 100%;
    scroll-snap-type: y mandatory; 
    overflow: scroll;    
}
.main{
    /* background-image: url(../img/main-visual.svg);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-attachment: fixed; */
    /* background-color: blue; */
    width: 100vw;
    height: 100%;
    scroll-snap-align: start;
   
}

#visual {
    width: fit-content;
    position: absolute;
    top: auto;
    left: 31%;
    z-index:1;
}

#visual img{
    position: fixed;
    top: 115px;
    z-index:1;
}

/* ここまでメイン */

/* ここからabout */

.about {
    /* background-image: url(../img/mask1.svg);
    background-repeat: no-repeat;
    background-position: 60.65% 75.5%; */
    margin-left: 50%;
    margin-top: 150%;
    /* z-index: 2; */
    /* background-color: red; */
    width: 50%;
    height: 100%;
    scroll-snap-align: start;
   
}
.works {
    /* background-image: url(../img/mask2.svg);
    background-repeat: no-repeat;
    background-position: 60% 75.5%; */
    margin-left: 50%;
    /* background-color: green;
    width: 50%; */
    height: 100%;
    scroll-snap-align: start;
   
}
.blog {
    /* background-image: url(../img/mask3.svg);
    background-repeat: no-repeat;
    background-position: 60% 75.5%; */
    /* background-color: yellow; */
    width: 25vw;
    height: 100vh;
    scroll-snap-align: start;
}

.about img{
    position: relative;
    /* top: 11.5%; */
    left: 0;
    z-index: 2;
    
}



.works img{
    position: relative;
    top: 211.5%;
    left: 50%;
}



.blog img {
    position: absolute;
    top: 311.5%;
    left: 50%;
}
#about{
    font-size: 120px;
    font-weight: bold;
    margin-left: 70%;
   
}

.masks img{
    position: absolute;
    top: auto;
    left: 50%;
    position: absolute;
    top: 100px;
}



/* ここまでabout */

/* からaboutページ*/
.box{
    display: flex;
    justify-content:center;
}
.prof {
    margin-right: 15%;
}
.ps{
    width: 28%;
}
.ps h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.bl1{
    border-bottom: 8px solid #000;
    border-radius: 8px;
    margin-bottom: 15px;
}

.bl2{
    border: 2px solid#000;
    border-radius: 2px;
    margin-bottom: 70px;
}
.skill{
    text-align: center;
}
.exp{
    width: 100%;
    font-size: 21px;
    line-height: 1.5;
    margin-top: 70px;
}
/* までaboutページ*/
/* からworks */

.box-con{
    width: 90%;
    margin-left: 10%;
    margin-top: 30px;
}



.workbox{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* までworks */
/* からmodal */
/* モーダルウィンドウのスタイル */
.modal {
    position:absolute;
    width:100%;
    height:100%;
    background-color: #fff;
    top:0;
    left:0;
    display:none;
    z-index: 100;
}

   
  /* モーダルウィンドウの中身のスタイル */
.modal .inner {
    width: 100%;
    position:absolute;
    z-index:11;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.moh{
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.moh2{
    display: flex;
    width: 100%;
}
.subp{
    width: 35%;
    margin-left: 7%;
}


.subp h2{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}
.ppp {
    font-size: 40px;
    line-height: 1.7;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}


.inner h1{
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    
}
.modalClose{
    font-size: 70px;
    line-height: 1;
    padding-right: 50px;
    padding-top: 5px;
}



.inner-img{
    padding:0 30px;
    margin-left: 70px;
}
/* までmodal */
/* からもじ */
.about h2{
    font-size: 100px;
    font-weight: bold;
    margin-left: 400px;
    margin-top: -45%;
}
/* までもじ */
.non{
    width: 50%;
    margin: 20% auto;
    text-align: center;
    font-size: 500%;
    font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}
